<div class="container-fluid" style="margin:none; padding-left:0; padding-right:0;">
	<div class="row catch-phrase" style="margin-bottom:20px;">

		<div class="col-sm-6">
			<h1 style="font-size:80px; display:inline-block; margin-left:20px;">Let <strong style="color:#5bdb99; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black"> max</strong> be your next business manager...</h1>	
		</div>

		<div class="col-sm-6">
			<h3 class="col-sm-12" style="font-size:50px; float:right; text-align:right; margin-top:230px;">...Here's why</h3>
		</div>
		
	</div>

	<div class="row why" style="padding:0 auto; background-color:#292727; color:white;">

		<center>
			<div class="col-sm-12">
				<h3 class="col-sm-3" style="font-size:20px; margin:50px;">
					<center><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></center><br>
					94% of all errors in business are caused by poor or lack of management, not by workers.
				</h3>
				
				<h3 class="col-sm-3" style="font-size:20px; margin:65px;">
					<center><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></center><br>
					Businesses can eliminate these errors by simply putting smart and efficient operational tools to use.
				</h3>

				<h3 class="col-sm-3" style="font-size:20px; margin:50px;">
					<center><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></center><br>
					Businesses could reduce down to 1/20th of the errors they commit allowing them to save money and reduce risk. 
				</h3>
			</div>
		</center>
	</div>

	<div class="row computer-image-with-example" style="padding:0;">
			<img class="img-responsive center-block" src="<%= asset_path('placeit.png') %>">
	</div>
	
	<div class="row black-image-with-text" style="padding:0;">
		<img class="img-responsive center-block" src="<%= asset_path('black-geometrical-background.jpg') %>">	
	</div>

	<div class="row pre-footer">
		 <center><button type="button" class="btn start-btn btn-lg" data-toggle="modal" data-target="#signUpModal"><strong>Let's start</strong></button></center>
 	</div>  

</div>

