<div class="container">
	<div class="row">
		<img class="img-responsive center-block" src="http://fullhdpictures.com/wp-content/uploads/2016/04/Business-HD-Wallpapers.jpg" alt="business-man-making-decision">
	</div>	
</div>

