<div class="container">
	<div class="row profile-title" style="margin:none;">
		<div class="col-sm-12">
			<h1><%= @name %>'s Profile</h1>
		</div>

		<div class="col-sm-6">
			<h4 style="display: inline-block; float: left;">
				With what business problem may we assist you with?
					<button type="button" class="btn btn-primary" style="margin-top:30px; background-color: #5bdb99; border:none;" data-toggle="modal" data-target="#problemModal">
	                    Add a business problem
	                </button>
	                <%= render 'users/problem_modal' %> 
			</h4>
		</div>
	</div>

	<div class="row category-list">
		<div class="col-sm-12">
			<h4><i>Click on the categories below to see your business problems:</i></h4>

			<nav class="col-sm-12" style="display:inline-block; margin-left:30px;">
	              <button class="decision-tree-btn categories" style="margin:45px;">Decision Tree Tool <span id="decision-hover" title="Decision Tree Tool">A decision support tool that uses a model of decisions and their possible consequences, including probability of outcomes, associated costs, and expected revenue.</span></button>
	              <button class="break-even-btn categories" style="margin:45px;">Break Even Analysis <span id="breakeven-hover" title="Break Even Analysis">Breaking even means that your overall costs finally meet your revenue, allowing you to achieve a profit. It defines the point in which, your initial costs are covered and you can start making money.</span></button>
	              <button class="crossover-btn categories" style="margin:45px;">Crossover Analysis<span id="crossover-hover" title="Crossover Analysis">An analysis that compares the relative costs and outcomes (effects) of different courses of action. Allows your business to know if an investment is worth pursuing by analyzing your total costs.</span></button>
	        </nav>
		</div>

		<div id="problems" class="col-sm-6" style="display:none; border-radius: 25px; border:2px #5bdb99 solid; margin:10px; width:fit-content; width:-webkit-fit-content; width:-moz-fit-content; padding: 10px; background-color: white; margin-bottom: 60px;">
		</div>
	</div>
</div>
