<div class="container-fluid">
  <div class="row pre-footer">
    <div class="col-sm-3">
      <h2>WHAT WE DO AT NAME</h2><br><p><h5>We have simplified some of the most popular operational management tools in order to allow small businesses to improve. 94% of all errors in business are caused by management, not by workers. However, good management can eliminate these errors. Save money and reduce your risk by using our tools.</h5></p>
    </div>
    <div class="col-sm-3">
      <h2>DECISION TREE TOOL</h2><br><p><h5>Allows you to quantify and apply logic to your decision. Basing it on numbers and probabilities, our tool will help you make a more informed and smarter choice.
      </h5><p>
    </div>
    <div class="col-sm-3">
      <h2>BREAK EVEN ANALYSIS</h2><br><p><h5>This analysis allows you to quickly identify at what point you will break-even. Breaking even means that your overall expenses/costs finally meet your revenue, allowing you to achieve a profit. It defines the point in which, your initial costs are covered and you can start making money.</h5>
    </div>
    <div class="col-sm-3">
      <h2>CROSSOVER ANALYSIS</h2><br><p><h5>When faced with different options in resolving a business problem, it is helpful to do a crossover analysis to figure out how many which route to take. Use our tool to see if an investment is worth pursuing by measuring your costs. Based on your total costs, crossover analysis can tell you what is best for you. 
    </div>
  </div>    
  <div class="row footer">
    <div class="col-sm-12">
      Copyright 2016 by Sofia Borges
    </div>
  </div>  
</div>