<div class="container-fluid" style="margin:0;">
  <div class="row header">
    <div class="col-sm-8">
      <h1 class="site-title" style="font-size:80px; margin:0; padding:0; margin-top:-20px;"><strong>max</strong></h1>

    </div>
    <div class="col-sm-3">
      <br>
      <nav>
        <ul class="menu">
          <li role="presentation" class="active menu-item"><a href="/">Home</a></li>
          <li role="presentation" class="menu-item"><a href="http://demo.fabthemes.com/revera/about">About</a></li>
          <li role="presentation" class="menu-item"><a href="http://demo.fabthemes.com/revera/sample-page-2">Contact</a></li>

          <% if current_user %>
            <li role="presentation" class="menu-item">
              <%= button_to "Profile", "/users/#{current_user.id}", :method => "get", :class => "btn btn-primary btn-xs" %>
            </li>
          <% else %>
            <li role="presentation" class="menu-item">
              <%= button_to "Sign Up", "/users/sign_up", :method => "get", :class => "btn btn-primary btn-xs" %>
            </li>
          <% end %>

          <% if current_user %>
            <li role="presentation" class="menu-item">
              <%= button_to "Log out", destroy_user_session_path, :method => :delete, :class => "btn btn-primary btn-xs" %>
            </li>
          <% else %>
            <li role="presentation" class="menu-item">
              <%= button_to "Log In", "/users/sign_in", :method => "get", :class => "btn btn-primary btn-xs" %>
            </li>
          <% end %>                
        </ul>
      </nav>
    </div>
  </div>
</div>